name: Code Quality

on:
  schedule:
    - cron: "0 3 * * 1" # Monday 3am UTC
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]

permissions: {}

jobs:
  sonar-scanning:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=frasermolyneux_bicep-modules
          -Dsonar.organization=frasermolyneux
          -Dsonar.host.url=https://sonarcloud.io

  devops-secure-scanning:
    permissions:
      contents: read
      actions: read
      id-token: write
      security-events: write
    uses: frasermolyneux/actions/.github/workflows/devops-secure-scanning.yml@main

  dependency-review:
    permissions:
      contents: read
      pull-requests: write
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          comment-summary-in-pr: always
